body{
		background:#2f121e;
		color:#fff;
		}
#home-logo, #main-img{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	}
#home-logo > div.large-3{
	float:none;
	margin:0 auto;
	padding:10px 0;
	
	}
	
#logo-left{
	padding:10px 0;
	}
	
#main-img > div{
	width:100%;
	/*position:relative;*/
}
#main-img > div > img{
	width:100%;
	}
#home-nav{
	background:url(../img/homemenuback.png) repeat-x;
	/*position:absolute;*/
    position:fixed;
	bottom:0;
	width:100%;
	height:60px;
	}
#home-nav-top{
	background:#631D51;
	border-bottom:#C11781 5px solid;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}
#home-nav-top > div{
	position:relative;
	}
#home-nav-top > div div.large-9{
	position:absolute;
	right:0;
	bottom:9px;
	}
#home-nav li, #home-nav-top li{
	width:16.6%;
	display:block;
	padding:0;
	margin:0;
}
#home-nav a, #home-nav-top a{
	color:#fff;
	padding:17px 0 16px 0;
	/*padding:16px 0 15px 0;*/
	text-align:center;
	}
#home-nav li.active a,  #home-nav li a:hover, #home-nav-top li.active a,  #home-nav-top li a:hover{
	background:url(../img/active-menu.png) center bottom no-repeat;
}

#footer{
	border-top:#720560 1px solid;
	padding:25px 25px 45px;
	}
	
#footer a{
	color:#fff;
	}
#footer a:hover{	
	border-top:#720560 1px solid;
	background:none;
}
.small-text {
    font-size:0.875rem;
}
#main-content{
	padding:25px 0;
	}
#main-content-inner{
	padding:25px 0;
	margin-top:120px;
	}