/*
Theme Name: Twenty Fourteen
Theme URI: http://code-hive.net
Author: the WordPress team
Author URI: http://twitter.com/vickyjr
Description: Tujuane custom theme.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: purple, tujuaneish
Text Domain: twentyfourteen 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body{
    background:#2f121e;
    color:#fff;
    }
#home-logo, #main-img{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	}
#home-logo > div.large-3{
	float:none;
	margin:0 auto;
	padding:10px 0;
	
	}
#home-logo {
	background:#631D51;    
}
#home-logo .width-25 {
    width:25%;
}
#logo-left{
	padding:10px 0;
	}
	
#main-img > div{
	width:100%;
	/*position:relative;*/
}
#main-img > div > img{
	width:100%;
	}
#home-nav{
	background:url(img/homemenuback.png) repeat-x;
	position:fixed;
	bottom:0;
	width:100%;
	height:60px;
    z-index:100;
	}
#home-nav-top{
	background:#631D51;
	border-bottom:#C11781 5px solid;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
}
#home-nav-top > div{
	position:relative;
	}
#home-nav-top > div div.large-9{
	position:absolute;
	right:0;
	bottom:9px;
	}
#home-nav li, #home-nav-top li{
	width:16.6%;
	display:block;
	padding:0;
	margin:0;
}
#home-nav a, #home-nav-top a{
	color:#fff;
	padding:17px 0 16px 0;
	/*padding:16px 0 15px 0;*/
	text-align:center;
	}
#home-nav li.current_page_item a,  #home-nav li a:hover, #home-nav-top li.current_page_item a,  #home-nav-top li a:hover{
	background:url(img/active-menu.png) center bottom no-repeat;
}
/* Footer
================================ */
#footer{
	border-top:#720560 1px solid;
	padding:25px 0px 45px;
	margin-top:25px;
	}
#footer a{
	color:#fff;
	}
#footer a:hover{	
	border-top:#720560 1px solid;
	background:none;
}
#footer .small-text {
    font-size:0.775rem;
    font-weight:normal;
    padding-top:1px;
    padding-bottom:1px;
}
#footer > div {
    padding-left:0px;
}
#footer > div:last-child {
    padding-right:0px;
}
#menu-footer-menu {
    float:right;
}
#menu-footer-menu li {
    font-size:0.775rem;
}

#main-content{
	padding:25px 0;
	}
#advert{
	margin-top:110px;
	margin-bottom:25px;
	}
#advert > div{
	padding-left:55px;
	}
#main-content-inner{
	padding:25px 0;
	
	background:#3f1c36;
	}
#main-content-inner img{
	margin-top:-25px;
	}
#main-content .home-widgets aside {
    overflow:hidden;
    background:#3F1D36;
    height:300px;
}
p, h4{
	color:#fff;
	margin:6px 20px 20px;
	}
/* Dating Tips
========================================== */
.blog-posts {
    padding:0 35px;
}
.row-post {
    padding:0 35px;
}
.blog-posts h4 {
    font-size:1rem;
    font-style:italic;
}
.blog-posts h5 {
    margin-left:20px;
    color:#fff;
    font-size:1rem;
    font-weight:600;
}
.posts {
    padding:25px 0;
}
.posts .small {
    margin-left:20px;
    color:#fff;
    font-size:1rem;
}
.separate {
    border-top:2px #d2168a dashed;
}
.entry-title{
	color:#d2168a;
	font-size:28px;
	margin-left:20px;
	}
.entry-title-large{
	color:#d2168a;
	font-size:32px;
	margin-left:20px;
    font-weight:600;
}

.hook-up {
    padding-top:25px;
}
/* YouTube
========================================= */
.ytc-row{
	float:left;
	width:33%;
	}
ul.ytchagallery li{
	float:left;
	display:inline-block;
	}
.tujuane-exchange{
	margin:0 25px;
}
